/* About */
#about{
    display: block;
}
.top-section{
    display: flex;
    /* margin: 150px auto; */
    justify-content: center;
    vertical-align: top;
}
.about-info h2{
    margin-bottom: 20px;
}
.about-info span{
    color: rgb(52, 180, 52);
    font-size: 20px;
}
.about-info{
    width: 50%;
    margin-right: 50px;
}
.about-info button{
    margin-top: 30px;
    margin-left: 30%;
    font-size: 17px;
    padding: 10px 10px;
    justify-content: center;
    border: 1px solid rgb(90, 83, 83);
    border-radius: 5px;
    background: #141414;
    transition: all .4s;
    color:#ffffff;
}
.about-info button:hover{
    color: #fff;
    background-color: rgb(69, 233, 132);
}
.about-video{
    max-width: 900px;
    width: 900px;
    height: 400px;
    float: right;
    border: solid rgb(52, 180, 52) 4px;
    border-radius: 5px;
}
.bottom-section{
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 100px;

}
.container{
    width: 28vmin;
    height: 28vmin;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 17px;
    border-radius: 10px;
    background: rgb(52, 180, 52);
    border-bottom: 10px solid yellowgreen;
}
.container i{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
span.num{
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 50px;
}
span.text{
    color: #fff;
    font-size: 1em;
    text-align: center;
    pad:  0.7em 0;
    font-weight: 500;
    line-height: 0;
}
@media screen and (max-width: 1024px) {
    .wrapper {
        width: 85vw;
    }
    .container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .container {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .wrapper {
        gap: 15px;
    }
    .container{
        width: 100%;
        height: 25vmin;
        font-size: 12px;
    }
}

/* Footer */
footer{
    background-color:  #e9ecef;
    padding: 3px;
    text-align: center;
    display: flex;
    margin-top: 240px;
}
.footer-logo img{
    width: 200px;
    height: 90px;
}
.footer-logo{
    display: flex;
}
footer p{
    margin-top: 20px;
}